/*--------------------------------------------------------------------- header ------------------------------------------*/


/* The navigation bar */

	body{
		 margin:0;
padding:0;
width:100%;
height:auto;
display:block;
	}
section{
	width:80%;
	
	padding:30px;
	
}
header .ayoub{
	background:violet;
	height:2cm;
}
.wrapper{
  height: 100%;
  width:100%;
  position: relative;
  float:left;
  
  font-family:"Hacen Sahara TX Thin";
}

.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: white;
  font-family:"Hacen Sahara TX Thin";
  height: 50px;
  width: 50px;
  z-index: 9999;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin:7px;
}
#btn:checked ~ .menu-btn{
  left: 247px;
  font-family:"Hacen Sahara TX Thin";

}
.wrapper .menu-btn i{
  position: absolute;
  transform: ;
  font-size: 23px;
  font-family:"Hacen Sahara TX Thin";
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
  font-family:"Hacen Sahara TX Thin";
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  font-family:"Hacen Sahara TX Thin";
  transform: rotate(-180deg);
   margin:7px
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  font-family:"Hacen Sahara TX Thin";
  transform: rotate(180deg);
  
}
#sidebar{
  position: fixed;
  background: black;
  height: 100%;
  
 font-family:"Hacen Sahara TX Thin";
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;

}
#btn:checked ~ #sidebar{
  left: 0;
   width: 100%;
      
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #333;
  font-family:"Hacen Sahara TX Thin";
  font-size: 25px;
  font-weight: 600;
  color: white;
  border-bottom: 1px solid #222;
}
#sidebar .list-items{
  position: relative;
  background: #404040;
  font-family:"Hacen Sahara TX Thin";
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  font-family:"Hacen Sahara TX Thin";
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}
.head{
	color:Turquoise    ;
	background:purple;
	width:100%;
	height:auto;
	font-family:"arabswell_1";
	text-align:center;
	font-size:26px;
    
	display:block;

text-align:center;
padding-bottom:50px;
padding-top:50px;

}

/* --------------------------------------------------------------------------------------- section ----------------------------------------------------*/
article .content_1{
	font-family:"AlWatanHeadlines";
	font-size:30px;
	padding:10px;
}
article .content_2{
	font-family:"AlWatanHeadlines";
	font-size:30px;
	padding:10px;
    list-style-position:inside;
	
}
article .content_3{
height:auto;
 color:green; 
 background:Beige  ; 
 border-radius:10px;
 margin:20px;
 font-size:30px;
 padding:10px;
 font-family:"AlWatanHeadlines";
 border:outset 1px black;
}
/* --------------------------------------------------------------------------------------- footer ----------------------------------------------------*/
footer{
	background:black;
	color:white;
	font-size:20px;
	font-family:"Hacen Sahara TX Thin";
	padding:10px;
	margin:0;
	

}

form input[type="email"]{
	font-size: 20px;
    line-height: 21px;
    color: rgb(68, 68, 68);
    border: 1px solid rgb(225, 225, 225);
    width: 90%;
    max-width: 95%;
    height: 50px;
    padding: 3px 9px;
	margin:10px;
	font-family:"Segoe UI Light";
}
form input[type="textarea"]{
	font-size: 20px;
    line-height: 21px;
    color: rgb(68, 68, 68);
    border: 1px solid rgb(225, 225, 225);
    width: 90%;
    max-width: 95%;
    height: 90px;
    padding: 3px 9px;
	margin:10px;
	font-family:"Segoe UI Light";
}
form input[type="submit"] {
    font-size: 20px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    font-weight: 500;
    transition: background-color 0.4s ease 0s;
	font-family:"Segoe UI Light";
	 width: 90%;
    max-width: 95%;
}
form input[type="submit"]:hover{

    background: blue;
	color:white;
   
}
fieldset{
	border:solid 1px black;
	border-radius:10px;
	margin:20px;
	padding:30px;
}
form select {
    font-size: 20px;
    line-height: 21px;
    color: rgb(68, 68, 68);
    border: 1px solid rgb(225, 225, 225);
    width: 90%;
    max-width: 95%;
    height: 50px;
    padding: 3px 9px;
	margin:10px;
	font-family:"Segoe UI Light";
}
.fb{
	padding:10px;
}
.fb:hover{
	background-color:white;
	border-radius:5%;
}
.in{
	padding:10px;
}
.in:hover{
	background-color:violet;
	border-radius:5%;
}